.title {
    color: #394867; /* A dark blue color for the title */
    padding: 8px;
    font-size: 3rem;
    margin-bottom: 8px;
}
  
.legend {
    color: #666666; /* A dark gray color for the legend text */
    margin: 0px;
    margin-bottom: 8px;
}
  
.input {
    display: block;
    width: 98%;
    padding: 12px 16px;
    margin-bottom: 0.5rem;
    background: transparent;
    border: 2px solid #dddddd; /* Light gray border */
    color: #333333; /* Dark gray color for the input text */
    font-size: 16px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);    /* No box shadow */
    border-radius: 8px;
    margin-bottom: 16px;
    margin-left: 2px;
}
  
.formSectionTitle {
    color: #333333; /* Dark gray color for section titles */
    margin-top: 24px;
    margin-bottom: 8px;
}
  
.activeTabContent {
    display: flex;
    flex-direction: column;
    color: #333333; /* Dark gray color for the active tab content */
    opacity: 1;
}
